* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

:root{
    --primary-color:#9DE158;
    --secondary-color:#57995E;
    --accent1-color: #1979E7;
    --accent2-color:#61A0E9;
    --heading-font: "roboto", sans-serif;
    --body-font: "roboto", sans-serif;

}
header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 1rem;
    
}
header img {
    max-height: 80px;
    margin-left: 70px;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
}
h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article{
    margin: 16px;
    padding: 8px;

}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    margin-bottom: -30px;
}
nav a :hover, nav a:focus{
    background-color: antiquewhite;
    color: black;
}

nav a{
    transition: background-color 0.3s ease,color 0.3s ease;
    color: var(--accent1-color);
    font-weight: bold;
    padding: 5px 20px;
    border: 2px solid var(--accent1-color);
    border-radius: 0;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;

}
h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: azure;
}
.hero article img{
    float: right;
    width: 125px;


}

article{
    position: absolute;
    top: 20%;
    box-shadow: 0 2px 8px;
    border: 2px solid var(--primary-color);
    background-color: rgba(255, 255, 255, 0.7);
    top:40%;
}

.History{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    text-align: justify;
    flex-wrap: wrap;
}

.History img {
    max-width: 200px;
    height:auto ;
}

.History p {
    flex: 1;
    min-width: 200px;
}
h2 {
    text-align: center;
    border-bottom: 5rem;
}
.Adventure-Gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 1rem;
}
.Adventure-Gallery img{
    max-width: 130px;
    height: 100px;
    border-radius: 8px;
    

}
.Adventure-Gallery figcaption {
    font-size: 0.85rem;
    color: var(--accent1-color);
    margin-top: 1rem;
}    
footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}
footer p {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    margin-top: 30px;
    
    

}
.socialmedia {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    

}
.socialmedia a, .socialmedia a img{
    border: none;
}