:root {
    --primary-color: #963900;
    --secondary-color: #EDD75A;
    --accent1-color: #413726;
    --accent2-color: #0f7d7e;
    --white-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

button {
    background-color: var(--accent2-color);
}

section {
    background-color: var(--accent1-color);
    color: var(--white-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

header nav {
    /*Los enlances de navegaciones*/
    display: flex;
    padding: 20px 100px;
    font-size: small;
    background-color: var(--secondary-color);
    gap: 1px;
    /* espacio entre enlaces */
    justify-content: flex-end;
    white-space: nowrap;
    text-align: right;
}

nav a {
    /* enmarcar enlaces */
    padding: 1px 30px;
    border: 1px solid var(--accent1-color);
    border-radius: 1px;
    text-decoration: none;
    color: var(--primary-color);
}

header img {
    /*logo*/
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 10px;
    margin-left: 60px;

}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    justify-content: center;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

section h2 {
    color: var(--white-color);
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    background-color: var(--secondary-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    color: var(--white-color)
}

.hero article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #ffffffcc;
    padding: 10px 50px 10px 50px;
    text-align: center;

    width: 60%;
    /*  controla el ancho */
    max-width: 500px;
    /* límite para que no sea gigante */
}

.hero h1 {
    color: var(--white-color);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 16px;
    text-align: center;
}

.hero article img {
    float: right;
    width: 125px;
    margin: 10px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*  3 columnas */
    gap: 5px;
    align-items: center;

    background-color: var(--accent1-color);
    color: var(--white-color);
    padding: 10px;
    margin: 10px 1px 10px 1px;
}

/* título ocupa toda la fila */
.history h2 {
    grid-column: 1 / 4;
    text-align: center;
}

/* imagen centrada */
.history img {
    width: 100%;
    max-width: 150px;
    justify-self: center;
}

.adventures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 2px;
}

.adventures h2 {
    flex-basis: 100%;
    /* ocupa toda la línea */
    text-align: center;
}

.adventures img {
    width: 100px;
    height: 50px;
    flex-wrap: wrap;
}

.adventures figure {
    width: 150px;
    text-align: center;
}

.socialmedia {
    display: flex;
    gap: 10px;
    /*espacio entre iconos */
    text-align: right;
    margin: 5px;

}

.socialmedia img {
    width: 17px;
    height: 17px;
}

footer {
    display: flex;
    justify-content: space-between;
    /* separa texto e iconos */
    align-items: center;
    /*  los pone en la misma línea */
    background-color: var(--secondary-color);
    padding: 1px 40px 1px 40px;
}

.contact-container {
    display: flex;
    gap: 30px;
    margin: 20px;
}

.contact-info,
.contact-form {
    flex: 1;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: #0077cc;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}

.opa {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.opa h1 {
    color: #413726;
    margin-top: 40px;
}

.opa article p {
    margin: 1px 0;
}