:root {
  --primary-bg: rgb(197, 200, 62);
  --primary-text: white;
  --heading-color: rgb(47, 45, 1);

  --border-light: 1px solid rgba(232, 37, 170, 0.2);
  --border-dark: 1px solid black;

  --aside-bg: #f3f19a;
  --aside-text: #272609;

  --shadow-strong: 0 0 30px gray;
  --shadow-medium: 4px 4px 12px rgba(0, 0, 0, 0.3);

  --padding-small: 10px;
  --padding-medium: 20px;
  --padding-large: 1rem;
}


nav {
    background-color: rgb(197, 200, 62);
    padding: 10px;

}

nav a {
    color: white;
    display: block;
    padding: 20px;

}

h1 {
    color: rgb(47, 45, 1);
}

main{
   max-width: 820px; 
}

main img{
    width: 300px;
    height: auto;
    border :2px solid #ced048;
    padding:10px ;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}


aside{
    width: 600px;
    margin:1rem ;
    border: 1px solid rgba(232, 37, 170, 0.2) ;
    padding: 1rem;
    background-color: #f3f19a ;
    color: #272609 ;
    text-align: center;
}

aside img{
    width:200px ;
    height:auto ;
}

footer{
    margin-top: 40px ;
    border-top: 1px solid #fae41a;
    text-align: center;

}



img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0;
}


