*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}


:root {
  --primary-bg: rgb(237, 240, 44);
  --primary-text: white;
  --heading-color: #d4cf76;

  --border-light: 1px solid rgb(222, 140, 64);
  --border-dark: 1px solid rgb(255, 0, 0);

  --aside-bg: #cfcf7f;
  --aside-text: #ff9a27;

  --shadow-strong: 0 0 30px gray;
  --shadow-medium: 4px 4px 12px #e5dc28;

  --padding-small: 10px;
  --padding-medium: 20px;
  --padding-large: 1rem;
}


nav {
    background-color: #dfd45d;
    padding: 10px;

}

nav a {
    color: #1a1616;
    display: block;
    padding: 20px;

}

h1 {
    color: rgb(47, 45, 1);
    padding: 2rem;
}



main{
   max-width: 640px; 
}

main img{
    width: 300px;
    height: 400px;
    border :2px solid #e2e442;
    padding:2px ;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
}

aside{
    width: 20em;
    text-align: center;
    position: relative;
}

aside img{
    width:200px ;
    height:auto;
}

aside h2{
    position: absolute;
    top: 1px;
    left:120px;
}

footer{
    margin-top: 40px ;
    border-top: 1px solid #242423;
    text-align: center;

}



img {
    width: 150px;
    height: auto;
    border: 1px solid #b64620;
    padding: 2px;
    box-shadow: 0 0 30px #da9c6d;
}



.box{
    margin: 1rem;
    border: 1px solid rgb(0, 42, 42);
    padding: 2rem;
    background-color: lab(91.55% -15.57 80.95);
    color: #1c1c1a;


}

.indent {
    padding-left: 2rem;
}