nav {
    /*parte de arriba (home, website,etc*/
    background-color: bisque;
    padding: 10px;
}

nav a {
    color: brown;
    display: block;
    padding: 20px;
}

h1 {
    color: beige;
}

img {
    width: 150px;
    height: auto;
    border: 1px sandybrown;
    padding: 2px;
    box-shadow: 0 0 30px burlywood;
}

p {
    padding: 0px;
}

main {
    max-width: 840px;
}

aside {
    width: 500px;
    margin: 100px;
    border: 10px;
    padding: 20px;
    background-color: bisque;
    color: brown;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 1px solid #333;
    text-align: center;
}