nav {
    background-color: rgb(197, 200, 62);
    padding: 10px;

}

nav a {
    color: white;
    display: block;
    padding: 20px;

}

h1 {
    color: rgb(47, 45, 1);
}

main{
   max-width: 820px; 
}

main image{
    width: 300px;
    height: auto;
}


aside{
    width: 600px;
    margin:1rem ;
    border: 1px solid rgba(232, 37, 170, 0.2) ;
    padding: 1rem;
    background-color: #f3f19a ;
    color: #272609 ;
    text-align: center;
}

aside img{
    width:200px ;
    height:auto ;
}

footer{
    margin-top: 40px ;
    border-top: 1px solid #fae41a;
    text-align: center;

}



img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0;
}
